* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  margin: 0;
  font-family: Helvetica;


}

main {
    display: grid;
  grid-template-columns: [col1] 150px [col2] 150px [col3];
  grid-template-rows: [row1] 20px [row2] 100px [row3] 50px [row4] 30px [row5] 30px [row6] 30px [row7] 30px [row8] 50px [row9];

}

header {
  color: gray;
  grid-column-start: col2;
  grid-column-end: col3;
  grid-row-start: row1;
  grid-row-end: row2;
  text-align: right;
}

.programmer {
  display: flex;
  justify-content: center;
  grid-column-start: col1;
  grid-column-end: col3;
  grid-row-start: row2;
  grid-row-end: row3;
  border-radius: 50%;
  max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid green
}

.name {
  display: flex;
  justify-content: center;
  grid-column-start: col1;
  grid-column-end: col3;
  grid-row-start: row3;
  grid-row-end: row4;
  align-items: center;
}

.box2 {
  grid-column-start: col1;
  grid-column-end: col3;
  grid-row-start: row4;
  grid-row-end: row6;
  background-color: #e6e6e6;
}

.stars {

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.job {
  display: flex;
  justify-content: center;
  grid-column-start: col1;
  grid-column-end: col3;
  grid-row-start: row5;
  grid-row-end: row6;
  background-color: #e6e6e6;
}

.call-time {
  grid-column-start: col1;
  grid-column-end: col3;
  grid-row-start: row6;
  grid-row-end: row7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cost {
  grid-column-start: col1;
  grid-column-end: col3;
  grid-row-start: row7;
  grid-row-end: row8;
  display: flex;
  justify-content: center;
  color: gray
}

.call {
  grid-column-start: col1;
  grid-column-end: col2;
  grid-row-start: row8;
  grid-row-end: row9;
  background-color: #82ce8f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.message {
  grid-column-start: col2;
  grid-column-end: col3;
  grid-row-start: row8;
  grid-row-end: row9;
  background-color: #74ba82;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}